html
  body
    form(action='/SearchEvent', method='POST')
      label(for='SearchEvent') Event Name:: 
      input(type='text', name='SearchEvent')
      br
      br
      input(type='submit', value='Search')
