h1 List of Events
|<form action="/SearchEvent" method="POST">
|<label for="SearchEvent">Event Name:: </label>
|<input type="text" name="SearchEvent"/><br><br>
|<input type="submit" value="Search">
|</form>


ul
each event in users
	|<a href="/Event/#{event.EventName}">
	|<li name="#{event.EventName}"> #{event.EventName}
	|</li>
	|</a>
	|<br>