html
  body
    form(action='/search', method='POST')
      h1 Search
      label(for='bibid') Bib Number: 
      input(type='text', name='bibid')
      br
      br
      input(type='submit', value='Show Record')