extends layout

block content
    h1= "Edit Runner"
    div.newemployee
        form( method="post")
                div
                    span.label Title :
                div
                    span.label Name :

                div#editEmployeeSubmit
                    input(type="submit", value="Update")
        a(href="/")!= "Back to Runner List"