html
  head
    title Trail Rush Login
    // Include CSS File Here
    link(rel='stylesheet', href='stylesheets/loginstyle.css')
    // Include JS File Here
    script(src='js/login.js')
  body
    .container
      .main
        h2 Trail Rush Admin
        form#form_id(method='post', name='myform')
          label User Name :
          input#username(type='text', name='username', placeholder='Admin Username')
          label Password :
          input#password(type='password', name='password', placeholder='Admin Password')
          input#submit(type='button', value='Login', onclick='validate()')