html
  head
    // Include JS File Here
    script(src='js/timestamp.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')  
  body
    .container
      .main
          input#submit(type='button', value='Login', onclick=' validate()')