h1 Registration
form(method="POST" action="/users")
	p Full Name:
		input#FName(type="text" name="FName")
	p Address:
		input#Address(type="text" name="Address")
	p Event:
		select(name="EventName")
			each event in users
				|<option value=#{event.EventName}>#{event.EventName}</option>
	p Age:
		input#Age(type="string" name="Age")
	p Gender:
		input#Gender(type="text" name="Gender")
	p Email:
		input#EmailAddress(type="text" name="EmailAddress")
	p Contact Number:
		input#ContactNumber(type="text" name="ContactNumber")		

	p: button(type="submit") Add User