h1 Registration
form(method="POST" action="/users")
	p Full Name:
		input#fullname(type="text" name="fullname")
	p Location:
		input#location(type="text" name="location")
	p Event:
		input#event(type="text" name="event")
	p Age:
		input#age(type="string" name="age")
	p Gender:
		input#gender(type="text" name="gender")
		

	p: button(type="submit") Add User