h1 Registration
form(method="POST" action="/users")
	p Full Name:
		input#fullname(type="text" name="fullname")
	p Address:
		input#address(type="text" name="address")
	p Event:
		select(name="event")
			each event in users
				|<option value=#{event.EventName}>#{event.EventName}</option>
	p Age:
		input#age(type="string" name="age")
	p Gender:
		input#gender(type="text" name="gender")
	p Email:
		input#emailaddress(type="text" name="emailaddress")
	p Contact Number:
		input#contactnumber(type="text" name="contactnumber")		

	p: button(type="submit") Add User